<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
</head>
<body>
    <h2>Add Books</h2>

<table>
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Action</th>
    </tr>

    {% for book in books %}
    <tr>

        <td>{{book.title}}</td>
        <td>{{book.desc}}</td>
        <td><a href="{% url 'view_book' id=book.id %}">View</a></td>

    </tr>
    {% endfor %}

</table>
    <br><br>
    


    <form action="/addbook" method="post">
        {% csrf_token %}

        <label for="">Title</label>
        <input type="text" name="title" id="title">

        <br><br>

        <label for="">Description</label>
        <br><br>
        <textarea name="desc" cols="20" rows="3"></textarea>

        <br><br>

        <input type="submit" value="Add" >
    </form>


</body>
</html>