<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Author Name:   {{author.firstname}} {{author.lastname}}</p>
    <p>Author ID:  {{author.id}} </p> 
    Notes:  {{author.notes}}
    <br><br>
    <select name="Select Book">
        <option>Davinci Code</option>
        <option>The Fault in our stars</option>
        <option></option>
        <option></option>
    </select>
</body>
</html>